.contact-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    color: white;
    background-image: url("./Images/team.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-containers{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contact-section1{
 display: flex;
 flex-direction: column;
 width: 50%;
 justify-content: center;
}
#contact-title{
    margin: 2rem auto;
}
form{
    background-color: #e71d73;
    opacity: 0.7;
    display: flex;
    height: 65%;
    flex-direction: column;
    border-radius: 1.2rem;
    padding: 3rem 0rem;
    width: 70%;
    margin: 0rem auto 6rem;
}
input{
    border: .2rem solid white;
    outline: none;
    opacity: 1;
    padding: 1.5rem 6rem 1.5rem 1.5rem;
    color: white;
    background-color: #e71d73;
    margin: .5rem 2.5rem;
}
.message{
    padding: 1.5rem 6rem 10rem 1.5rem;
}
::placeholder{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}
.contact-section2{
    display: flex;
    flex-direction: column;
    padding: 6rem;
    width: 50%;
    justify-content: flex-end;
}
.adress{
 margin: 0rem 0rem 2rem;
}
strong{
    font-weight: bold;
    font-size: 2.6rem;
}
span{
    font-size: 2.2rem;
    font-weight: 100;
}
.social-media{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    list-style-type: none;
    margin: 2rem 0rem 2rem;
}
.icons{
    font-size: 5.5rem;
}

@media (max-width: 1024px) {
    .contact-page{
    background-image: url("./Images/teamMobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
    .contact-containers{
    display: flex;
    flex-direction: column;
    }
    .contact-section1{
        height: 80vh;
        width: 100%;
    }
    .contact-section2{
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #contact-title{
    margin: 4rem auto;
    }

    form{
    height: 55%;
    width: 70%;
    margin: 0rem auto 0rem;
    }

    .adress{
    margin: 0rem 0rem 0rem;
    }
    strong{
    font-size: 1.6rem;
    }
    span{
    font-size: 1.2rem;
    }

    .social-media{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 4rem 0rem 0rem;
}

    .icons{
    font-size: 4rem;
    }

}

@media (max-width: 640px) {

    .contact-section1{
        height: 70vh;
    }
    form{
    height: 72%;
    }

    .adress{
    margin: 0rem 0rem 2rem;
    }
    strong{
    font-size: 1.4rem;
    }
    span{
    font-size: 1rem;
    }
    .icons{
    font-size: 3rem;
    }

}