.shop-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #e71d73;
}
.shop-header{
    min-height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
    margin: 0rem auto;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-title{
    font-size: 2rem;
}
.price{
 font-size: 1.6rem;
 margin: 2rem 0rem;
}
.product-image{
 height: 25rem;
 margin: 0rem 8rem;
}
button{
    padding: .7rem 1rem;
    margin: 2.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background-color: #e71d73;
    border: .4rem solid white;
}

@media (max-width: 1024px) {
    
    .shop-header{
    min-height: 15vh;
    }
    .product-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .product{
        margin: 2rem 0rem;
    }
    .product-image{
        height: 15rem;
    }
    .product-title{
    font-size: 1.6rem;
    }
    .price{
    font-size: 1.4rem;
    margin: 1rem 0rem;
    }
}

@media (max-width: 640px) {

    .shop-header{
    min-height: 10vh;
    }
    .product{
        margin: 1rem 0rem;
    }
}